<%- include("header") -%>
<h1>about</h1>
<p>this is a about page</p>
<p>this is a about page</p>
<p>this is a about page</p>
<p>this is a about page</p>
<p>this is a about page</p>
<p>this is a about page</p>
<%- include("footer") -%>